In [2]:
import pandas as pd
## $ ! pip install scipy

In [3]:
df = pd.read_csv('accepted_merged_final.csv',low_memory=False, encoding='cp1252')
#df with all na's replaced with max and most unwanted columns removed
print("CSV loaded..")
print(df.ix[:5,:10])

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti
0,0,GA,30000,0,1.12,0,17,0,0,1.00
1,0,CA,49200,0,0.00,0,20,0,0,20.00
2,0,OR,80000,0,0.00,0,21,0,0,17.94
3,0,NC,47004,0,0.00,0,11,0,0,23.51
4,0,CA,48000,0,0.00,0,7,0,0,5.35
5,0,TX,15000,0,2.52,0,12,0,0,18.08

In [116]:
#Hierarchical clustering
#!pip install sklearn
from sklearn.cluster import AgglomerativeClustering

import datetime

from sklearn.utils import shuffle
shuffled_df = shuffle(df) #df_normalized
print("CSV shuffled..")
print(shuffled_df.head())

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,purpose,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status
193201,4,OH,55000,0,0.0,0,15,0,0,22.32,...,debt_consolidation,0.0,12173,66.5,36,17,17656.64,1684.27,16000,Not Verified
274693,6,PA,33000,0,0.0,0,18,0,0,23.89,...,debt_consolidation,0.0,10234,71.1,36,36,4059.79,259.79,3800,Not Verified
118622,3,CA,72000,0,0.0,0,21,0,0,15.95,...,car,0.0,22774,57.9,36,25,9409.70,909.70,8500,Not Verified
714819,4,CO,84000,0,0.0,0,9,0,0,7.31,...,credit_card,0.0,9978,51.4,36,17,8410.77,1154.61,7256,Not Verified
660089,7,NC,50000,0,0.0,0,13,1,0,27.44,...,debt_consolidation,0.0,4221,27.2,36,16,5349.72,1268.89,4080,Source Verified

In [ ]:
# Slice of data for now
# shuffled_df = shuffled_df.head(1000)
# shuffled_df

In [118]:
#using label encoder to convert categorical columns into numeric values
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                if feature!='Deliquency':
                    df[feature] = le.fit_transform(df[feature])
                else:
                    print('Hello')
                    df[feature] = df[feature]
            except:
                print('Error encoding '+feature)
        return df

In [ ]:
from sklearn.preprocessing import LabelEncoder
# columns = ['Amount_Requested','Loan_Title','Risk_Score','Debt-To-Income_Ratio','Zip_Code','Employment_Length','Policy_Code','accept_reject_loan','State']


# X = pd.DataFrame(shuffled_df) 
df_new = shuffled_df.copy()# makes a separate copy of the dataframe, not a shared instance
# df_new = shuffled_df
X_enc=dummyEncode(df_new)
print("CSV encoded..")
print(X_enc.head())

In [ ]:
# ## NORMALIZE
# from sklearn import preprocessing

# min_max_scaler = preprocessing.MinMaxScaler()
# np_scaled = min_max_scaler.fit_transform(X_enc)
# df_normalized = pd.DataFrame(np_scaled)
# df_normalized.head()

In [120]:
print(datetime.datetime.now()," Clustering begins... ")

2017-04-13 21:19:30.159149  Clustering begins...

In [121]:

complete = AgglomerativeClustering(n_clusters=3, linkage='complete').fit(X_enc)
average = AgglomerativeClustering(n_clusters=3, linkage='average').fit(X_enc)
#memory error for full data
#worked on 1000 immediately
#took 7 mins for 10000 :( 2017-04-13 00:50:08.586042  Clustering begins.. 017-04-13 00:57:48.821571  Done!!... 

print(datetime.datetime.now()," Clustering Done!!... ")

2017-04-13 21:19:31.925322  Done!!...

In [ ]:
# label1=complete.labels_
# label1

In [ ]:
# label2=average.labels_
# label2

In [122]:
# to-do
X_enc['complete.label'] = pd.Series(complete.labels_, index=X_enc.index)
print("Encoded clusters..")
print(X_enc.head())

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status,complete.label
193201,4,34,55000,0,0.0,0,15,0,0,22.32,...,0.0,12173,66.5,36,17,17656.64,1684.27,16000,0,1
274693,6,37,33000,0,0.0,0,18,0,0,23.89,...,0.0,10234,71.1,36,36,4059.79,259.79,3800,0,1
118622,3,4,72000,0,0.0,0,21,0,0,15.95,...,0.0,22774,57.9,36,25,9409.70,909.70,8500,0,1
714819,4,5,84000,0,0.0,0,9,0,0,7.31,...,0.0,9978,51.4,36,17,8410.77,1154.61,7256,0,1
660089,7,26,50000,0,0.0,0,13,1,0,27.44,...,0.0,4221,27.2,36,16,5349.72,1268.89,4080,1,1

In [123]:
shuffled_df['complete.label'] = pd.Series(complete.labels_, index=shuffled_df.index)
print("Original clusters...")
print(shuffled_df.head())

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status,complete.label
193201,4,OH,55000,0,0.0,0,15,0,0,22.32,...,0.0,12173,66.5,36,17,17656.64,1684.27,16000,Not Verified,1
274693,6,PA,33000,0,0.0,0,18,0,0,23.89,...,0.0,10234,71.1,36,36,4059.79,259.79,3800,Not Verified,1
118622,3,CA,72000,0,0.0,0,21,0,0,15.95,...,0.0,22774,57.9,36,25,9409.70,909.70,8500,Not Verified,1
714819,4,CO,84000,0,0.0,0,9,0,0,7.31,...,0.0,9978,51.4,36,17,8410.77,1154.61,7256,Not Verified,1
660089,7,NC,50000,0,0.0,0,13,1,0,27.44,...,0.0,4221,27.2,36,16,5349.72,1268.89,4080,Source Verified,1

In [ ]:
grouped = shuffled_df.groupby(['complete.label'])

l_grouped = list(grouped)

# print("First cluster..")   
# print(l_grouped[0][1])

In [35]:
count = 0
h_cluster =[]
for hierarchy_group in l_grouped:
    df_clustered = l_grouped[count][1]
    h_cluster.append(df_clustered)
    print("Cluster ",count," of " ,len(df_clustered), " rows!")
    pd.to_csv("Cluster_"+str(count)+".csv", index= False)
    count+=1

count :  3

237