In [ ]:
import pandas as pd

In [33]:

df = pd.read_csv(get_object_storage_file_with_credentials_b6d2dc4304df42d5bf425b6ca8af67ff('LendingClub', 'accepted_merged_final.csv'),low_memory=False, encoding='cp1252')
df.head()

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,purpose,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status
0,0,GA,30000,0,1.12,0,17,0,0,1.00,...,car,122.9,1687,9.4,60,4,1014.53,435.17,456,Source Verified
1,0,CA,49200,0,0.00,0,20,0,0,20.00,...,other,0.0,5598,21.0,36,37,12231.89,2214.92,10000,Source Verified
2,0,OR,80000,0,0.00,0,21,0,0,17.94,...,other,0.0,27783,53.9,60,38,4066.91,1066.91,3000,Source Verified
3,0,NC,47004,0,0.00,0,11,0,0,23.51,...,debt_consolidation,0.0,17726,85.6,60,11,10137.84,3137.84,7000,Not Verified
4,0,CA,48000,0,0.00,0,7,0,0,5.35,...,car,0.0,8221,87.5,36,4,3939.14,939.14,3000,Source Verified

In [34]:

import datetime

from sklearn.utils import shuffle
shuffled_df = shuffle(df) #df_normalized
shuffled_df.head()

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,purpose,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status
846970,5,MA,210000,0,0.0,0,25,0,0,13.78,...,debt_consolidation,0.0,6307,12.2,60,40,19195.01,6979.36,12215,Verified
130635,1,FL,245000,0,0.0,0,29,1,0,13.49,...,credit_card,0.0,96387,72.8,36,23,43557.48,8557.48,35000,Verified
220524,8,MA,134000,1,0.0,0,11,4,0,15.70,...,credit_card,0.0,12950,20.0,36,31,29664.10,4232.98,25431,Verified
808325,2,WA,149000,0,0.0,0,26,0,0,21.54,...,debt_consolidation,0.0,62184,88.8,36,18,2285.27,588.93,1696,Not Verified
987791,6,MI,35000,0,0.0,0,29,6,0,21.90,...,credit_card,0.0,5158,32.0,36,28,7157.10,157.10,7000,Source Verified

In [35]:
#using label encoder to convert categorical columns into numeric values
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                if feature!='Deliquency':
                    df[feature] = le.fit_transform(df[feature])
                else:
                    print('Hello')
                    df[feature] = df[feature]
            except:
                print('Error encoding '+feature)
        return df

In [9]:
from sklearn.preprocessing import LabelEncoder
# columns = ['Amount_Requested','Loan_Title','Risk_Score','Debt-To-Income_Ratio','Zip_Code','Employment_Length','Policy_Code','accept_reject_loan','State']


# X = pd.DataFrame(shuffled_df) 
df_new = shuffled_df.copy()# makes a separate copy of the dataframe, not a shared instance
# df_new = shuffled_df
X_enc=dummyEncode(df_new)
X_enc.head()

,acc_open_past_24mths,addr_state,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti,...,purpose,recoveries,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp,verification_status
1097878,9,40,55000,0,0.0,0,16,0,0,32.10,...,2,0.0,22667,39.4,36,30,6954.63,1366.42,5588,1
409370,3,35,10500,0,0.0,0,16,0,0,8.91,...,9,0.0,2139,41.1,36,39,1828.05,380.43,1447,2
824317,10,24,56000,0,0.0,0,19,0,0,24.98,...,2,0.0,9326,29.3,36,48,9910.59,585.59,9325,0
491259,7,9,75000,0,0.0,0,28,0,0,15.30,...,4,0.0,11695,35.7,36,20,4688.52,806.31,3882,0
1116836,4,4,45000,0,0.0,0,20,0,0,27.92,...,2,0.0,14426,44.8,36,16,2920.81,904.56,2016,1

In [36]:
from sklearn import cluster
# from sklearn.decomposition import PCA

In [22]:
# print("Dim reduction begins...")
# pca = PCA(n_components=2).fit(X_enc)
# pca_2d = pca.transform(X_enc)
# print("Dim reduction done !!")

Dim reduction begins...
Dim reduction done !!

In [38]:
print(datetime.datetime.now()," Clustering begins... ")
k_means=cluster.KMeans(n_clusters=6).fit(X_enc)
print(datetime.datetime.now()," Done!!... ")

2017-04-14 00:29:55.625160  Clustering begins...
2017-04-14 00:31:38.948643  Done!!...

In [ ]:
# print(k_means.labels_)

In [25]:
import numpy as np
from pandas import *
# from matplotlib import pyplot

In [39]:
df1=pd.DataFrame(shuffled_df)
df2=pd.DataFrame(k_means.labels_,columns=['kmean.label'])
df_clustered=pd.concat([df1, df2], axis=1)
# df_clustered

In [40]:
print("Grouping into clusters...")
grouped = df_clustered.groupby(['kmean.label'])

l_grouped = list(grouped)
   
# l_grouped[0][1]

In [43]:
print("Exporting clusters as individual dataframes...")
count = 0
h_cluster =[]
for hierarchy_group in l_grouped:
    df_clustered = l_grouped[count][1]
    h_cluster.append(df_clustered)
    print("Cluster ",count," of " ,len(df_clustered), " rows!")
    csv_name = "K-means_Cluster_"+str(count)+".csv"
    df_clustered.to_csv(csv_name, index= False, encoding='cp1252')
#     put_file(credentials_1,csv_name) ## after to_csv
    count+=1

Exporting clusters as individual dataframes...
Cluster  0  of  27211  rows!
<Response [201]>
Cluster  1  of  280428  rows!
<Response [201]>
Cluster  2  of  360765  rows!
<Response [201]>
Cluster  3  of  286539  rows!
<Response [201]>
Cluster  4  of  70  rows!
<Response [201]>
Cluster  5  of  354090  rows!
<Response [201]>